@property --yellow {
    inherits: true;
    syntax: '*';
    initial-value: #ffdd00;
}

@property --black {
    inherits: true;
    syntax: '*';
    initial-value: #000000;
}

body {
    margin: 0;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-image: url('background.jpg');
}

main {
    padding: 15px;
}

header {
    height: 10vh;
    max-height: 50px;
    display: flex;
    gap: 15px;
    background-color: var(--yellow);
    padding-left: 2rem;
    align-items: center;
}

header > a {
    color: var(--black);
    font-size: x-large;
}

.page-navigation {
    display: flex;
    gap: 15px;
}

.page-navigation > a {
    color: var(--black);
    background-color: var(--yellow);
    border-radius: 15px;
    padding: 10px 20px;
}

a {
    color: var(--yellow);
}

.home-page {
    perspective: 400px;
    perspective-origin: 150% 150%;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg) translateZ(150px);
}

h1 {
    width: min-content;
    margin: auto;
    color: var(--black);
    font-size: 8rem;
    text-shadow:
        4px 0 var(--yellow),
        -4px 0 var(--yellow),
        0 4px var(--yellow),
        0 -4px var(--yellow),
        2px 2px var(--yellow),
        -2px -2px var(--yellow),
        2px -2px var(--yellow),
        -2px 2px var(--yellow);
    display: flex;
    justify-content: center;
}

.crawl-content {
    margin: auto;
    width: 50%;
    font-size: 2rem;
    text-align: justify;
    transform-origin: 50% 100%;
    color: var(--yellow);
}
