@property --yellow {
    inherits: true;
    syntax: "*";
    initial-value: #ffdd00;
}

@property --black {
    inherits: true;
    syntax: "*";
    initial-value: #000000;
}

body {
    margin: 0;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
    padding: 15px;
}

header {
    height: 10vh;
    max-height: 50px;
    display: flex;
    gap: 15px;
    background-color: var(--yellow);
    padding-left: 2rem;
    align-items: center;
}

header > a {
    color: var(--black);
    font-size: x-large;
}

.page-navigation {
    display: flex;
    gap: 15px;
}

.page-navigation > a {
    color: var(--black);
    background-color: var(--yellow);
    border-radius: 15px;
    padding: 10px 20px;
}

a {
    color: var(--yellow);
}
